<nav class="navbar" role="navigation" aria-label="main navigation" id="navbar" style="background-color: #87aff0;">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="src/app/assets/logo.svg" width="112" height="28">
      </a>

      <p class="subtitle is-3" id="readit" style="font-weight: bold; color: #041157">ReadIt</p><p class="subtitle is-3" id="readit" style="color: #041157">/Consptheory</p>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
